# SMTP configuration for ASMRS
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD="ingt qhua voco plqu"
SMTP_USE_TLS=True
SMTP_USE_SSL=False
SMTP_FROM_NAME=ASMRS Notifications
SMTP_FROM_ADDRESS=your-email@example.com
